h1 {
    font-size: larger !important;
    color: white !important;
}

body nav {
    background: rgb(red, green, blue) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
}

.circle {
    background-image: url('../image/photo.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    width: 130px !important;
    height: 130px !important;
    z-index: 99 !important;
    border-radius: 50%;
}

.container .circle {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -130%) !important;
}

.navbar-brand {
    text-transform: none !important;
}

.ftco-navbar-light {
    background: none !important;
}

.ftco-navbar-light .navbar-toggler {
    text-transform: none !important;
    color: #25D366 !important;
    font-size: small !important;
}

.hero-wrap .overlay {
    background: linear-gradient(45deg, #000 0%, #0e0c18 100%) !important;
}

/* Sembunyikan scrollbar di Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}

/* Sembunyikan scrollbar di Firefox */
* {
    scrollbar-width: none;
}

/* Pastikan scrolling tetap berfungsi */
html, body {
    overflow: auto;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Efek overlay jika diperlukan */
    z-index: -2; /* Pastikan lebih tinggi dari #particles-js */
}

.skill {
    margin-top: 100px;
    font-size: 12px;
}

.contribute {
    margin-top: 220px;
    font-size: 12px;
}

.work {
    margin-top: 400px;
    font-size: 12px;
}

.skill .col-3, .contribute .col-3 {
    border-radius: 8px;
    background: #fff;
    margin: 10px;
    padding: 10px 5px;
    color: #000;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Sesuaikan tinggi footer */
    color: white; /* Warna teks */
    display: flex;
    justify-content: center; /* Tengah horizontal */
    align-items: center; /* Tengah vertikal */
    text-align: center;
    z-index: 1000; /* Pastikan di atas elemen lain */
}
  